/* custom.scss */
/* change theme colors */
$primary: #7396A9;
$secondary: #8EFB6D;
$success: #7854e4;
$info: #7854e4;
$warning: #7854e4;
$danger: #7854e4;
/* end custom.scss */

@import '~bootstrap/scss/bootstrap.scss';